@font-face {
  font-family: "Public Sans";
  src: url("../font/PublicSans-Regular-webfont.eot");
  src: url("../font/PublicSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../font/PublicSans-Regular-webfont.woff2") format("woff2"),
    url("../font/PublicSans-Regular-webfont.woff") format("woff"),
    url("../font/PublicSans-Regular-webfont.ttf") format("truetype"),
    url("../font/PublicSans-Regular-webfont.svg#Public_Sans") format("svg");
  font-weight: normal;
  font-style: normal;
}
